<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d65ed2b465.js" crossorigin="anonymous"></script>
    <!-- vue script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.2.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/Students.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/Requests.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/Forums.js') }}"></script>
    <title>Study Together - Forums</title>
</head>
<body>
    <div id="app">
        <!-- Create Forum Modal -->
        <div class="modal fade" id="createForumModal" tabindex="-1" aria-labelledby="createForumModalLabel" aria-hidden="true" ref="vuemodal">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createForumModalLabel">Create Forum</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Title</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your forum topic..." required v-model="createTitle">
                        </div>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>
                        <div class="form-check form-switch form-check-reverse" style="float: right;">
                            <input class="form-check-input" type="checkbox" role="switch" id="commentAnonymous" v-model="createAnonymous">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Anonymous</label>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Forum Content</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required v-model="createInput"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" @click="handleCreate" data-bs-dismiss="modal">Create</button>
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Comments Modal -->
        <div class="modal fade" id="commentsModal" tabindex="-1" aria-labelledby="commentsModalLabel" aria-hidden="true" ref="vuemodal">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col">
                            <div class="row">
                                <h1 class="modal-title fs-5" id="commentsModalLabel" v-if="forumModal.title.length>50">{{'{{forumModal.title.slice(0, 50)}}'}}...</h1>
                                <h1 class="modal-title fs-5" id="commentsModalLabel" v-else>{{'{{forumModal.title}}'}}</h1>
                            </div>
                            <div class="row">
                                <small class="text-body-secondary" v-if="forumModal.anonymous == true">
                                    Posted by Anonymous
                                    <img src="{{ url_for('static', filename = 'img/anonymousProfile.png') }}" style="width: 25px; height: 25px;">
                                    - {{'{{forumModal.posted_at}}'}}
                                </small>
                                <small class="text-body-secondary" v-else>
                                    Posted by {{'{{forumModal.ownerName}}'}} 
                                    <img src="{{ url_for('static', filename = 'img/boyProfile.png') }}" style="width: 25px; height: 25px;" v-if="forumModal.ownerName.indexOf('นาย')>=0">
                                    <img src="{{ url_for('static', filename = 'img/girlProfile.png') }}" style="width: 25px; height: 25px;" v-else>
                                    - {{'{{forumModal.posted_at}}'}}
                                </small>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="forumContent">
                            <p class="card-text">{{'{{forumModal.content}}'}}</p>
                            <div class="image" v-if="forumModal.imagePath.length > 0">
                                <img v-for="path in forumModal.imagePath" :src="path">
                            </div>
                        </div>
                        <hr>
                        <div class="forumAction mt-2 mb-2">
                            <div class="row text-center">
                                <div class="col">
                                    <a class="list-group-item likeBtn" @click="handleLike(forumModal.id, true)" v-if="userLikeList.indexOf(forumModal.id)<0"><i class="fa-solid fa-thumbs-up"></i>  Like <span style="font-size: .75rem;" v-if="forumModal.forum_like > 0">({{'{{forumModal.forum_like}}'}})</span></a>
                                    <a class="list-group-item unLikeBtn" @click="handleLike(forumModal.id, true)" v-else><i class="fa-solid fa-thumbs-up"></i>  Like <span style="font-size: .75rem;" v-if="forumModal.forum_like > 0">({{'{{forumModal.forum_like}}'}})</span></a>
                                </div>
                                <div class="col">
                                    <a class="list-group-item"><i class="fa-regular fa-comment"></i>  Comments <span style="font-size: .75rem;" v-if="forumModal.commentCount > 0">({{'{{forumModal.commentCount}}'}})</span></a>
                                </div>
                                <div class="col">
                                    <a class="list-group-item saveBtn" @click="handleSaveForum(forumModal.id, true)" v-if="userSaveList.indexOf(forumModal.id)<0"><i class="fa-regular fa-bookmark"></i>  Save</a>
                                    <a class="list-group-item unSaveBtn" @click="handleSaveForum(forumModal.id, true)" v-else><i class="fa-solid fa-bookmark"></i>  Save</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="forumComments">
                            <div class="form-check form-switch form-check-reverse" style="float: right;">
                                <input class="form-check-input" type="checkbox" role="switch" id="commentAnonymous" v-model="commentAnonymous">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Anonymous</label>
                            </div>
                            <div class="input-group">
                                <textarea class="form-control" rows="1" placeholder="Write a comment..." v-model="commentInput"></textarea>
                                <button class="input-group-btn btn btn-success" @click="handleComment(forumModal.id)">Comment</button>
                            </div>
                            <div class="allComments mt-3">
                                <div class="comment mb-3" v-for="comment in forumModalCommentList.slice().reverse()">
                                    <div class="commentFrom">
                                        <img src="./static/img/anonymousProfile.png" style="width: 40px; height: 40px;" v-if="comment.anonymous==true">
                                        <img src="./static/img/boyProfile.png" style="width: 40px; height: 40px;" v-else-if="comment.ownerName.indexOf('นาย')>=0">
                                        <img src="./static/img/girlProfile.png" style="width: 40px; height: 40px;" v-else>
                                        <span style="font-weight: bold;" v-if="comment.anonymous==true">&nbsp;Anonymous</span>
                                        <span style="font-weight: bold;" v-else>&nbsp;{{'{{comment.ownerName}}'}}</span>
                                        <small class="text-body-secondary"> - {{'{{comment.posted_at}}'}}</small>
                                        <div class="commentActionContainer" v-if="comment.owner==userID && (confirmRemoveList.indexOf(comment.id) < 0 && confirmEditList.indexOf(comment.id) < 0)">
                                            <i class="fa-regular fa-pen-to-square commentEdit me-3" @click="handleEditComment(comment.id, comment.content)"></i>
                                            <i class="fa-regular fa-trash-can commentRemove" @click="handleRemoveComment(comment.id)"></i>
                                        </div>
                                        <div class="commentActionContainer" v-else-if="comment.owner==userID && (confirmRemoveList.indexOf(comment.id)>=0 || confirmEditList.indexOf(comment.id)>=0)">
                                            <div v-if="confirmRemoveList.indexOf(comment.id)>=0">
                                                <i class="fa-solid fa-check commentCheck me-3" @click="confirmRemoveComment(comment.id)"></i>
                                                <i class="fa-solid fa-xmark commentRemove" @click="handleRemoveComment(comment.id)"></i>
                                            </div>
                                            <div v-else-if="confirmEditList.indexOf(comment.id)>=0">
                                                <i class="fa-solid fa-check commentCheck me-3" @click="confirmEditComment(comment.id)"></i>
                                                <i class="fa-solid fa-xmark commentRemove" @click="handleEditComment(comment.id)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="commentContent">
                                        <span v-if="confirmEditList.indexOf(comment.id)<0">{{'{{comment.content}}'}}</span>
                                        <span v-else-if="confirmEditList.indexOf(comment.id)>=0"><textarea class="form-control" rows="1" placeholder="Write a comment..." v-model="commentEditInput"></textarea></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" @click="brand_navigation">Study Together</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ms-2">
                            <select class="nav-link dropdown-toggle" v-model="courseName" @change="checkURL">
                                <option value="myCourse" selected disabled style="text-align: center;">My Course</option>
                                <option v-for="course in myCourseList" :value="course">{{'{{fullCourseName.filter((value)=>(value.shortName==course))[0].longName}}'}}</option>
                            </select>
                        </li>
                        <li class="nav-item ms-2" v-if="courseName!='myCourse'">
                            <a class="nav-link" @click="home_navigation">Home</a>
                        </li>
                        <li class="nav-item ms-2" v-if="courseName!='myCourse'">
                            <a class="nav-link active">Forums</a>
                        </li>
                        <li class="nav-item ms-2" v-if="courseName!='myCourse'">
                            <a class="nav-link" @click="findGroups_navigation">Find Groups</a>
                        </li>
                        <li class="nav-item ms-2" v-if="courseName!='myCourse'">
                            <a class="nav-link disabled">Leaderboard</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown-center">
                          <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            it{{'{{userID}}'}}
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#" style="color: red;" @click="handleLogout">Logout</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" v-if="courseName=='myCourse'">
            <h1 class="mt-5 mb-5 text-center">Welcome to Study Together Web Application</h1>
        </div>
        <div class="container" v-if="courseName!='myCourse'">
            <h1 class="mt-5 mb-5 text-center">{{'{{fullCourseName.filter((value)=>(value.shortName==courseName))[0].longName}}'}} - Forums</h1>
            <div class="card text-center h-100 border-info">
                <div class="card-header forums">
                    <div class="row">
                        <ul class="nav nav-tabs card-header-tabs">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link forums" :class="{'active': showPage == 'forums'}" @click="showPage = 'forums'; getForums(); checkLike()">Forums</a>
                                </li>
                            </div>
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link myForums" :class="{'active': showPage == 'myForums'}" @click="showPage = 'myForums'; getMyForums(); checkLike()">My Forums</a>
                                </li>
                            </div>
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link saved" :class="{'active': showPage == 'saved'}" @click="showPage = 'saved'; checkSave(); checkLike()">Saved</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="card-body overflow-auto" style="background-color: aliceblue">
                    <div class="card mb-3" v-for="forum in forumList.slice().reverse()" v-if="showPage == 'forums'">
                        <div class="card-body">
                            <h5 class="card-title">{{'{{forum.title}}'}} </h5>
                            <small class="text-body-secondary" v-if="forum.anonymous == true">Posted by Anonymous <img src="{{ url_for('static', filename = 'img/anonymousProfile.png') }}" style="width: 25px; height: 25px;"> - {{'{{forum.posted_at}}'}}</small>
                            <small class="text-body-secondary" v-else>
                                Posted by {{'{{forum.ownerName}}'}} 
                                <img src="{{ url_for('static', filename = 'img/boyProfile.png') }}" style="width: 25px; height: 25px;" v-if="forum.ownerName.indexOf('นาย')>=0">
                                <img src="{{ url_for('static', filename = 'img/girlProfile.png') }}" style="width: 25px; height: 25px;" v-else>
                                - {{'{{forum.posted_at}}'}}
                            </small>
                            <p class="card-text">{{'{{forum.content}}'}}</p>
                            <div class="image" v-if="forum.imagePath.length > 0">
                                <img v-for="path in forum.imagePath" :src="path">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <a class="list-group-item likeBtn" @click="handleLike(forum.id, false)" v-if="userLikeList.indexOf(forum.id)<0"><i class="fa-solid fa-thumbs-up"></i>  Like <span style="font-size: .75rem;" v-if="forum.forum_like > 0">({{'{{forum.forum_like}}'}})</span></a>
                                    <a class="list-group-item unLikeBtn" @click="handleLike(forum.id, false)" v-else><i class="fa-solid fa-thumbs-up"></i>  Like <span style="font-size: .75rem;" v-if="forum.forum_like > 0">({{'{{forum.forum_like}}'}})</span></a>
                                </div>
                                <div class="col">
                                    <a class="list-group-item" data-bs-target="#commentsModal" data-bs-toggle="modal" @click="fetchModalInfo(forum.id)"><i class="fa-regular fa-comment"></i>  Comments <span style="font-size: .75rem;" v-if="forum.commentCount > 0">({{'{{forum.commentCount}}'}})</span></a>
                                </div>
                                <div class="col">
                                    <a class="list-group-item saveBtn" @click="handleSaveForum(forum.id, false)" v-if="userSaveList.filter((value)=>value.id==forum.id).length < 1"><i class="fa-regular fa-bookmark"></i>  Save</a>
                                    <a class="list-group-item unSaveBtn" @click="handleSaveForum(forum.id, false)" v-else><i class="fa-solid fa-bookmark"></i>  Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" v-for="forum in myForumList.slice().reverse()" v-else-if="showPage == 'myForums'">
                        <div class="card-body">
                            <h5 class="card-title">{{'{{forum.title}}'}} </h5>
                            <small class="text-body-secondary" v-if="forum.anonymous == true">Posted by Anonymous <img src="{{ url_for('static', filename = 'img/anonymousProfile.png') }}" style="width: 25px; height: 25px;"> - {{'{{forum.posted_at}}'}}</small>
                            <small class="text-body-secondary" v-else>
                                Posted by {{'{{forum.ownerName}}'}} 
                                <img src="{{ url_for('static', filename = 'img/boyProfile.png') }}" style="width: 25px; height: 25px;" v-if="forum.ownerName.indexOf('นาย')>=0">
                                <img src="{{ url_for('static', filename = 'img/girlProfile.png') }}" style="width: 25px; height: 25px;" v-else>
                                - {{'{{forum.posted_at}}'}}
                            </small>
                            <p class="card-text">{{'{{forum.content}}'}}</p>
                            <div class="image" v-if="forum.imagePath.length > 0">
                                <img v-for="path in forum.imagePath" :src="path">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <a class="list-group-item likeBtn" @click="handleLike(forum.id, false)" v-if="userLikeList.indexOf(forum.id)<0"><i class="fa-solid fa-thumbs-up"></i>  Like <span style="font-size: .75rem;" v-if="forum.forum_like > 0">({{'{{forum.forum_like}}'}})</span></a>
                                    <a class="list-group-item unLikeBtn" @click="handleLike(forum.id, false)" v-else><i class="fa-solid fa-thumbs-up"></i>  Like <span style="font-size: .75rem;" v-if="forum.forum_like > 0">({{'{{forum.forum_like}}'}})</span></a>
                                </div>
                                <div class="col">
                                    <a class="list-group-item" data-bs-target="#commentsModal" data-bs-toggle="modal" @click="fetchModalInfo(forum.id)"><i class="fa-regular fa-comment"></i>  Comments <span style="font-size: .75rem;" v-if="forum.commentCount > 0">({{'{{forum.commentCount}}'}})</span></a>
                                </div>
                                <div class="col">
                                    <a class="list-group-item saveBtn" @click="handleSaveForum(forum.id, false)" v-if="userSaveList.filter((value)=>value.id==forum.id).length < 1"><i class="fa-regular fa-bookmark"></i>  Save</a>
                                    <a class="list-group-item unSaveBtn" @click="handleSaveForum(forum.id, false)" v-else><i class="fa-solid fa-bookmark"></i>  Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" v-for="forum in userSaveList.slice().reverse()" v-else-if="showPage == 'saved'">
                        <div class="card-body">
                            <h5 class="card-title">{{'{{forum.title}}'}} </h5>
                            <small class="text-body-secondary" v-if="forum.anonymous == true">Posted by Anonymous <img src="{{ url_for('static', filename = 'img/anonymousProfile.png') }}" style="width: 25px; height: 25px;"> - {{'{{forum.posted_at}}'}}</small>
                            <small class="text-body-secondary" v-else>
                                Posted by {{'{{forum.ownerName}}'}} 
                                <img src="{{ url_for('static', filename = 'img/boyProfile.png') }}" style="width: 25px; height: 25px;" v-if="forum.ownerName.indexOf('นาย')>=0">
                                <img src="{{ url_for('static', filename = 'img/girlProfile.png') }}" style="width: 25px; height: 25px;" v-else>
                                - {{'{{forum.posted_at}}'}}
                            </small>
                            <p class="card-text">{{'{{forum.content}}'}}</p>
                            <div class="image" v-if="forum.imagePath.length > 0">
                                <img v-for="path in forum.imagePath" :src="path">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <a class="list-group-item likeBtn" @click="handleLike(forum.id, false)" v-if="userLikeList.indexOf(forum.id)<0"><i class="fa-solid fa-thumbs-up"></i>  Like <span style="font-size: .75rem;" v-if="forum.forum_like > 0">({{'{{forum.forum_like}}'}})</span></a>
                                    <a class="list-group-item unLikeBtn" @click="handleLike(forum.id, false)" v-else><i class="fa-solid fa-thumbs-up"></i>  Like <span style="font-size: .75rem;" v-if="forum.forum_like > 0">({{'{{forum.forum_like}}'}})</span></a>
                                </div>
                                <div class="col">
                                    <a class="list-group-item" data-bs-target="#commentsModal" data-bs-toggle="modal" @click="fetchModalInfo(forum.id)"><i class="fa-regular fa-comment"></i>  Comments <span style="font-size: .75rem;" v-if="forum.commentCount > 0">({{'{{forum.commentCount}}'}})</span></a>
                                </div>
                                <div class="col">
                                    <a class="list-group-item saveBtn" @click="handleSaveForum(forum.id, false)" v-if="userSaveList.filter((value)=>value.id==forum.id).length < 1"><i class="fa-regular fa-bookmark"></i>  Save</a>
                                    <a class="list-group-item unSaveBtn" @click="handleSaveForum(forum.id, false)" v-else><i class="fa-solid fa-bookmark"></i>  Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success circleStickyBtn" data-bs-target="#createForumModal" data-bs-toggle="modal" aria-label="Create Forum"><i class="fa-solid fa-plus"></i></button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    courseName: 'myCourse',
                    myCourseList: [],
                    showPage : 'forums',
                    forumList: [],
                    myForumList: [],
                    mySaveList: [],
                    forumModal: {
                        'id': 0,
                        'title': '',
                        'content': '',
                        'imagePath': '',
                        'forum_like': 0,
                        'ownerID': '',
                        'ownerName': '',
                        'anonymous': false,
                        'posted_at': '',
                        'commentCount': 0
                    },
                    forumModalCommentList: [],
                    commentInput: "",
                    commentEditInput: "",
                    commentAnonymous: false,
                    createTitle: "",
                    createInput: "",
                    createAnonymous: false,
                    confirmRemoveList: [],
                    confirmEditList: [],
                    userSaveList: [],
                    userLikeList: [],
                    userID: "",
                    fullname: "",
                    fullCourseName: [
                        {"longName":"Software Development Tools and Environments", "shortName":"SDTE"},
                        {"longName":"Software Verification and Validation", "shortName":"SVV"},
                        {"longName":"Cloud-Based Enterprise Application Development", "shortName":"CBEAD"},
                    ]
                }
            },
            methods: {
                handleLogout(){
                    this.userID = ""
                    this.myCourseList = []
                    localStorage.removeItem("authToken")
                    window.location.href = "/"
                },
                handleComment(forumID){
                    addComment({'forumID':forumID, 'content':this.commentInput, 'token':localStorage.getItem("authToken"), 'anonymous':this.commentAnonymous}).then((response)=>{
                        if(response.data == true){
                            this.commentInput = ''
                            this.commentAnonymous = false
                            this.getForum(forumID)
                            getForumComments(forumID).then((response)=>{
                                this.forumModalCommentList = [...response.data]
                            })
                        }
                    })
                },
                handleCreate(){
                    createForum({'course': this.courseName, 'title': this.createTitle, 'content': this.createInput, 'anonymous': this.createAnonymous, 'token': localStorage.getItem("authToken")}).then((response)=>{
                        if(response.data == true){
                            this.getForums()
                            this.createTitle = ""
                            this.createInput = ""
                            this.createAnonymous = false
                        }
                    })
                },
                handleRemoveComment(commentID){
                    if(this.confirmRemoveList.indexOf(commentID) >= 0){
                        this.confirmRemoveList.splice(this.confirmRemoveList.indexOf(commentID), 1)
                    }else{
                        this.confirmRemoveList.push(commentID)
                    }
                },
                confirmRemoveComment(commentID){
                    removeComment(commentID).then((response)=>{
                        if(response.data == true){
                            this.getForumComments(this.forumModal.id)
                            this.confirmRemoveList.splice(this.confirmRemoveList.indexOf(commentID), 1)
                        }
                    })
                },
                handleEditComment(commentID, commentContent){
                    if(this.confirmEditList.indexOf(commentID) >= 0){
                        this.confirmEditList.splice(this.confirmEditList.indexOf(commentID), 1)
                    }else{
                        this.confirmEditList.push(commentID)
                        this.commentEditInput = commentContent
                    }
                },
                confirmEditComment(commentID){
                    editComment({'commentID': commentID, 'content':this.commentEditInput, 'token':localStorage.getItem("authToken")}).then((response)=>{
                        if(response.data == true){
                            this.getForumComments(this.forumModal.id)
                            this.confirmEditList.splice(this.confirmEditList.indexOf(commentID), 1)
                            this.commentEditInput = ""
                        }
                    })
                },
                handleSaveForum(forumID, isInModal){
                    handleSaveForum(forumID, localStorage.getItem("authToken")).then((response)=>{
                        if(response.data == true){
                            this.checkSave()
                        }
                    })
                },
                handleLike(forumID, isInModal){
                    handleLike(forumID, localStorage.getItem("authToken")).then((response)=>{
                        if(response.data == true){
                            if(this.showPage == 'forums'){
                                this.getForums()
                            }else if(this.showPage == 'myForums'){
                                this.getMyForums()
                            }
                            if(isInModal){
                                this.fetchModalInfo(forumID)
                            }
                            this.checkLike()
                        }
                    })
                },
                checkURL(){
                    window.history.pushState("", "Study Together - Forums", (document.URL +"?course="+this.courseName));
                },
                checkSave(){
                    getSave(this.courseName, localStorage.getItem("authToken")).then((response)=>{
                        this.userSaveList = []
                        response.data.forEach(value => {
                            var newPath = [];
                            for(let i=0; i<value.imagePath.length; i++){
                                newPath.push("/static/img/"+value.imagePath[i])
                            }
                            this.userSaveList.push({
                                'id': value.id,
                                'title': value.title,
                                'content': value.content,
                                'imagePath': newPath,
                                'forum_like': value.forum_like,
                                'ownerID': value.ownerID,
                                'ownerName': value.ownerName,
                                'anonymous': value.anonymous,
                                'posted_at': value.posted_at,
                                'commentCount': value.commentCount
                            })
                        });
                    })
                },
                checkLike(){
                    getLike(localStorage.getItem("authToken")).then((response)=>{
                        this.userLikeList = [...response.data]
                    })
                },
                checkToken(){
                    var token = localStorage.getItem('authToken')
                    if(token){
                        checkToken({token: token}).then((response)=>{
                            if(response.data != false){
                                this.userID = response.data.id
                                this.fullname = response.data.fullname
                                this.myCourseList = [...response.data.course]
                                if(document.URL.indexOf("?course=")>=0){
                                    var URLcourse = document.URL.slice(document.URL.indexOf("?course=")+8, document.URL.length)
                                    if(this.myCourseList.indexOf(URLcourse) >= 0){
                                        this.courseName = URLcourse
                                        this.getForums()
                                        this.checkLike()
                                        this.checkSave()
                                    }else{
                                        this.courseName = "myCourse"
                                        window.history.pushState("", "Study Together", (document.URL.slice(0, document.URL.indexOf("?"))));
                                    }
                                }
                            }else{
                                this.handleLogout()
                            }
                        })
                    }else{
                        this.handleLogout()
                    }
                },
                getForums(){
                    getForums(this.courseName).then((response)=>{
                        this.forumList = []
                        response.data.forEach(value => {
                            var newPath = [];
                            for(let i=0; i<value.imagePath.length; i++){
                                newPath.push("/static/img/"+value.imagePath[i])
                            }
                            this.forumList.push({
                                'id': value.id,
                                'title': value.title,
                                'content': value.content,
                                'imagePath': newPath,
                                'forum_like': value.forum_like,
                                'ownerID': value.ownerID,
                                'ownerName': value.ownerName,
                                'anonymous': value.anonymous,
                                'posted_at': value.posted_at,
                                'commentCount': value.commentCount
                            })
                        });
                    })
                },
                getMyForums(){
                    getMyForums(this.courseName, localStorage.getItem("authToken")).then((response)=>{
                        this.myForumList = []
                        response.data.forEach(value => {
                            var newPath = [];
                            for(let i=0; i<value.imagePath.length; i++){
                                newPath.push("/static/img/"+value.imagePath[i])
                            }
                            this.myForumList.push({
                                'id': value.id,
                                'title': value.title,
                                'content': value.content,
                                'imagePath': newPath,
                                'forum_like': value.forum_like,
                                'ownerID': value.ownerID,
                                'ownerName': value.ownerName,
                                'anonymous': value.anonymous,
                                'posted_at': value.posted_at,
                                'commentCount': value.commentCount
                            })
                        });
                    })
                },
                getForum(forumID){
                    getForum(forumID).then((response)=>{
                        var newPath = [];
                        for(let i=0; i<response.data.imagePath.length; i++){
                            newPath.push("/static/img/"+response.data.imagePath[i])
                        }
                        this.forumModal = {
                            'id': response.data.id,
                            'title': response.data.title,
                            'content': response.data.content,
                            'imagePath': newPath,
                            'forum_like': response.data.forum_like,
                            'ownerID': response.data.ownerID,
                            'ownerName': response.data.ownerName,
                            'anonymous': response.data.anonymous,
                            'posted_at': response.data.posted_at,
                            'commentCount': response.data.commentCount
                        }
                    })
                },
                getForumComments(forumID){
                    getForumComments(forumID).then((response)=>{
                        this.forumModalCommentList = [...response.data]
                    })
                },
                fetchModalInfo(forumID){
                    this.getForumComments(forumID)
                    this.getForum(forumID)
                },
                brand_navigation(){
                    window.location.href = "/"
                },
                home_navigation(){
                    window.location.href = "/?course="+this.courseName
                },
                findGroups_navigation(){
                    window.location.href = "/findGroups?course="+this.courseName
                },
            },
            mounted(){
                this.checkToken()
                const commentsModal = document.getElementById('commentsModal')
                commentsModal.addEventListener('hidden.bs.modal', event => {
                    this.commentInput = ''
                    if(this.showPage == 'forums'){
                        this.getForums()
                    }else if(this.showPage == 'myForums'){
                        this.getMyForums()
                    }
                })
            }
        }).mount('#app')
    </script>
</body>
</html>