a {
    text-decoration: none !important;
    cursor: pointer;
}

body {
    background-color: #F7FFE1 !important;
}


.nav-link.forums {
    color: lightseagreen !important;
    text-shadow: 1px 1px black;
}

.nav-link.myForums {
    color: lightskyblue !important;
    text-shadow: 1px 1px black;
}

.nav-link.saved {
    color: wheat !important;
    text-shadow: 1px 1px black;
}

.card-header-tabs .nav-link.active {
    text-shadow: 1px 1px lightpink;
    background-color: aliceblue !important;
    border-bottom-color: aliceblue !important;
}

.navbar {
    background-color: #e47c20 !important;
}

.navbar-nav .nav-item .nav-link.active {
    color: white !important;
}

.navbar-nav .nav-item:hover :not(.nav-link.dropdown-toggle):not(.disabled):not(.nav-item .nav-link.active){
    text-shadow: 1px 1px white !important;
}

.navbar-brand {
    color: white !important;
    text-shadow: 2px 1px black !important;
    font-size: 2rem !important;
}

.navbar-brand:hover {
    opacity: 0.5 !important;
}

.card-header.announcements {
    background-color: #4F4F4F;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-header.findGroups {
    background-color: darkorange;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.card-header.forums {
    background-color: lightcyan;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-footer.forums {
    background-color: lightcyan;
}

.card-header-tabs {
    margin-right: 0 !important;   
    margin-left: 0 !important;
    padding-right: 0 !important;   
    padding-left: 0 !important;   
}

.circleStickyBtn {
    border-radius: 50% !important;
    padding: 19px 20px !important;
    margin: 30px !important;
    position: fixed;
    right: 0;
    bottom: 0;
}

.circleBtn {
    border-radius: 50% !important;
    padding: 9px 10px !important;
}

.commentBtn {
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
    border-radius: 10px;
    border-color: transparent;
}

.commentBtn:hover {
    background-color: #888;
}

.commentContent {
    margin-left: 45px;
}

.commentActionContainer {
    float: right;
    margin: 10px;
}

.commentActionContainer i{
    cursor: pointer;
}

.commentEdit:hover {
    color: goldenrod !important;
}

.commentCheck:hover {
    color: green !important;
}

.commentRemove:hover {
    color: red !important;
}

.likeBtn:hover {
    color: blue !important;
}

.unLikeBtn {
    color: blue !important;
}

.saveBtn:hover {
    color: goldenrod !important;
}

.unSaveBtn {
    color: goldenrod !important;
}

#cardNavigationGroup .card:not(#scoreboard) {
    cursor: pointer;
}

.rightBtn-Container {
    float: right;
}

.rightBtn-Container button{
    margin-left: 10px;
}

.rainbow {
    text-shadow: 2px 2px 4px #000000;
   
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 5s infinite; 
   
    /* Internet Explorer */
    -ms-animation: rainbow 5s infinite;
    
    /* Standar Syntax */
    animation: rainbow 5s infinite; 
 }
 
/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
 
/* Internet Explorer */
@-ms-keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
 
/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}